[Unit]
Description=restore at boot time student's home
After=network.service

[Service]
User=root
ExecStart=/usr/bin/bash /usr/local/bin/stem-script.sh
Type=simple

[Install]
WantedBy=default.target
